.manage {
  width: 500px;                /* Increased width for a more rectangular shape */
  height: 200px;               /* Reduced height */
  background-color: rgba(230, 238, 255, 0.9);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
}

.manage button {
  background-color: #0b355d;
  color: #fff;               
  border: none;
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0.3rem;
  transition: background 0.2s;
}

.manage button:hover {
  background-color: #012346;
}

.manage h2{
    color: #003366;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 1px;
}